* {
    margin: 0;
    padding: 0;
    font-family: "Inter";
}

nav {
    padding: 0 120px;
}

header nav .logo img {
    width: 140px;
    border: 1px solid red;
}

header nav .earlyAccessButtonContainer .earlyAccessButton {
    color: #FFFFFF;
    background-color: #30B868;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 4px;
}

/* Test Codes */
header nav .menu {
    border: 1px solid red;
} 
header nav .earlyAccessButtonContainer .earlyAccessButton {
    border: 1px solid red;
}