* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter";
    font-size: 16px;
}

nav {
    padding: 16px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo img {
    width: 140px;
}

nav .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    list-style: none;
    height: 24px;
}

nav .menu a {
    text-decoration: none;
    color: #001931;}

.earlyAccessButton {
    color: #FFFFFF;
    background-color: #30B868;
    padding: 12px 16px;
    height: 44px;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.earlyAccessButton:hover {
    background-color: #129d4c;
}

header #banner {
    height: 674px;
    background: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 70px 120px 134px 120px;
}

header #banner .bannerContent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
}

header #banner .bannerContent .bannerText {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
}

header #banner .bannerContent .bannerText h1 {
    opacity: 90%;
    width: 770px;
    height: 168px;
    font-size: 72px;
    text-align: center;
    margin: 0 auto;
}

header #banner .bannerContent .bannerText p {
    text-align: center;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}

header #banner .bannerContent .bannerText h1 .whiteText {
    color: #FFFFFF;
}

header #banner .bannerContent .bannerText h1 .greenText {
    color: #30B868;
}

header #banner .bannerContent .bannerText .earlyAccessStatus {
    max-width: 230px;
    margin: 0 auto;
    padding: 8px 12px;
    color: #30B868;
    background-color: #FFFFFF;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border-radius: 1000px;
}

header #banner .bannerContent .bannerText .earlyAccessStatus .greenCircle {
    height: 16px;
    width: 16px;
    background-color: rgba(48, 184, 104, 0.2);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header #banner .bannerContent .bannerText .earlyAccessStatus .midCircle {
    width: 12px;
    height: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgba(48, 184, 104, 0.4);
}

header #banner .bannerContent .bannerText .earlyAccessStatus .innerCircle {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: rgba(48, 184, 104, 1);
}

header #banner .bannerContent .bannerButtonContainer {
    display: flex;
    gap: 16px;
    margin: 0 auto;
}

header #banner .bannerContent .bannerButtonContainer button {
    padding: 12px 16px;
    background-color: #30B868;
    color: #FFFFFF;
    height: 52px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

header #banner .bannerContent .bannerButtonContainer #startButton, #transparentButton {
    display: flex;
    gap: 10px;
    align-items: center;
}
header #banner .bannerContent .bannerButtonContainer #transparentButton {
    background-color: transparent;
    border: 2px solid #FFFFFF;
}

header #banner .bannerContent .bannerButtonContainer button:hover{
    background-color: #129d4c;
}

header #banner .bannerContent .bannerButtonContainer #transparentButton:hover {
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid #FFFFFF;
}

main .notes {
    padding: 0 120px;
    display: flex;
    gap: 44px;
    flex-direction: column;
    text-align: center;
}

main .notes .notesHeadingSection {
    display: flex;
    gap: 16px;
    flex-direction: column;
}

main .notes #notesHeading {
    color: #001931;
    font-size: 48px;
    font-weight: bold;
    padding-top: 50px;
}

main .notes #notesSubHeading {
    color: #627382;
    line-height: 20px
}

main .notes .cardSection {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

main .notes .cardSection .cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
    gap: 16px;
    border-radius: 8px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

main .notes .cardSection .cards .noteCardImage {
    width: 60px;
    height: 60px;
    background-color: #F95555;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .notes .cardSection .cards .cardName {
    font-size: 24px;
    font-weight: 600;
    color: #001932;
    text-align: center;
}

main .notes .cardSection .cards .cardText {
    color: #627382;
    line-height: 20px;
}
main .secondBrain {
    padding: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .secondBrain img {
    width: 600px;
    height: 600px;
}

main .secondBrain .brainData {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

main .secondBrain .brainData .brainDataPart {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

main .secondBrain .brainData .solution {
    color: #30B868;
    line-height: 20px;
}

main .secondBrain .brainData .brainDataHeading {
    font-size: 48px;
    font-weight: bold;
    color: #001931;
}

main .secondBrain .brainData .brainDataText {
    line-height: 20px;
    color: #627382;
}

main .secondBrain .brainData .brainDataPart .motto {
    display: flex;
    gap: 6px;
}

main .secondBrain .brainData .brainDataPart .motto .checkCircle {
    width: 20px;
    height: 20px;
}

main .secondBrain .brainData .brainDataPart .motto .checkCircle img {
    width: 16.5px;
    height: 16.5px;
}

main .secondBrain .brainData .brainDataPart .motto .mottoText {
    color: #001931;
    line-height: 20px;
}

main .think {
    padding: 2px 120px 120px 120px;
    display: flex;
    gap: 44px;
    flex-direction: column;
    text-align: center;
}

main .think .thinkContainer {
    padding: 40px 80px;
    background-color: #F7F6F2;
    display: flex;
    gap: 24px;
    flex-direction: column;
    text-align: center;
    border-radius: 12px;
}

main .think .thinkContainer .thinkHeadingContainer {
    display: flex;
    gap: 16px;
    color: #001931;
    flex-direction: column;
    text-align: center;
}

#thinkHeading {
    font-size: 40px;
}

#thinkSubHeading {
    color: #627382;
    line-height: 24px;
}

.earlyAccessArea {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.earlyAccessArea .earlyAccessButton {
    margin: 0 auto;
}

.earlyAccessText {
    color: #627382;
    line-height: 20px;
}

