* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter";
    font-size: 16px;
}
nav {
    padding: 16px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo img {
    width: 140px;
}

nav .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    list-style: none;
    height: 24px;
}

nav .menu a {
    text-decoration: none;
    color: #000000;
}

nav .earlyAccessButtonContainer .earlyAccessButton {
    color: #FFFFFF;
    background-color: #30B868;
    padding: 12px 16px;
    height: 44px;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

nav .earlyAccessButtonContainer .earlyAccessButton:hover {
    background-color: #129d4c;
}



/* Test Codes */
nav {
    border: 1px solid red;
}