* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter";
    font-size: 16px;
}

nav {
    padding: 16px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo img {
    width: 140px;
}

nav .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    list-style: none;
    height: 24px;
}

nav .menu a {
    text-decoration: none;
    color: #001931;
}

.earlyAccessButton {
    color: #FFFFFF;
    background-color: #30B868;
    padding: 12px 16px;
    height: 44px;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.earlyAccessButton:hover {
    background-color: #129d4c;
}

header #banner {
    height: 674px;
    background: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 70px 120px 134px 120px;
}

.bannerContent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
}

.bannerContent .bannerText {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
}

.bannerContent .bannerText h1 {
    opacity: 90%;
    width: 770px;
    height: 168px;
    font-size: 72px;
    text-align: center;
    margin: 0 auto;
}

.bannerContent .bannerText p {
    text-align: center;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}

.bannerText h1 .whiteText {
    color: #FFFFFF;
}

.bannerText h1 .greenText {
    color: #30B868;
}

.earlyAccessStatus {
    margin: 0 auto;
    padding: 8px 12px;
    color: #30B868;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border-radius: 1000px;
}

.earlyAccessStatus .greenCircle {
    padding: 4px;
    background-color: rgba(48, 184, 104, 0.2);
    border-radius: 50%;
}

.midCircle {
    padding: 6px;
    border-radius: 50%;
    background-color: rgba(48, 184, 104, 0.4);
}

.innerCircle {
    padding: 3px;
    border-radius: 50%;
    background-color: rgba(48, 184, 104, 1);
}

.bannerButtonContainer {
    display: flex;
    gap: 16px;
    margin: 0 auto;
}

.bannerButtonContainer button {
    padding: 12px 16px;
    background-color: #30B868;
    color: #FFFFFF;
    height: 52px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

#startButton, #transparentButton {
    display: flex;
    gap: 10px;
    align-items: center;
}

#transparentButton {
    background-color: transparent;
    border: 2px solid #FFFFFF;
}

.bannerButtonContainer button:hover{
    background-color: #129d4c;
}

#transparentButton:hover {
    background-color: rgba(0, 0, 0, 0.3);
    border: 2px solid #FFFFFF;
}

main .notes {
    padding: 0 120px;
    display: flex;
    gap: 44px;
    flex-direction: column;
    text-align: center;
}

.notes .notesHeadingSection {
    display: flex;
    gap: 16px;
    flex-direction: column;
}

.sectionHeading {
    color: #001931;
    font-size: 48px;
    font-weight: bold;
}

.sectionSubHeading {
    color: #627382;
    line-height: 20px
}

.notesHeading {
    padding-top: 50px;
}

.cardSection {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
    gap: 16px;
    border-radius: 8px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

.cards:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.cardImage {
    width: 60px;
    height: 60px;
    background-color: #F95555;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardName {
    font-size: 24px;
    font-weight: 600;
    color: #001932;
    text-align: center;
}

main .secondBrain {
    padding: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.secondBrain img {
    width: 600px;
    height: 600px;
}

.brainData {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.brainDataPart {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.solution {
    color: #30B868;
    line-height: 20px;
}

.motto {
    display: flex;
    gap: 6px;
}

.checkCircle {
    width: 20px;
    height: 20px;
}

.checkCircle img {
    width: 16.5px;
    height: 16.5px;
}

.mottoText {
    color: #001931;
    line-height: 20px;
}

main .think {
    padding: 2px 120px 120px 120px;
    display: flex;
    gap: 44px;
    flex-direction: column;
    text-align: center;
}

.thinkContainer {
    padding: 40px 80px;
    background-color: #F7F6F2;
    display: flex;
    gap: 24px;
    flex-direction: column;
    text-align: center;
    border-radius: 12px;
}

.thinkHeadingContainer {
    display: flex;
    gap: 16px;
    color: #001931;
    flex-direction: column;
    text-align: center;
}

.earlyAccessArea {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.earlyAccessArea .earlyAccessButton {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

footer {
    color: #F7F6F2;
    background-color: #001931;
    padding: 120px 120px 30px 120px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 80px;
}

.socials {
    display: flex;
    justify-content: space-between;
}

.socialLinks {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.socialIcons {
    display: flex;
    justify-content: space-between;
}

.socialIcons a {
    text-decoration: none;
}

.socialIcons i {
    width: 20px;
    height: 20px;
    color: #001931;
    background-color: #F7F6F2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}